*{
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-header:#e8e7e1;
  --color-letter: black;
  --color-container:  rgba(192, 187, 182, 0.66);

}


header{
  background-color: #e8e7e1;
}
body{
  background-color: rgba(192, 187, 182, 0.66);
}

.logo{
  width: 35px;
  height: 35px;
}
.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  padding: 15px;
}

.navbar li{
  color: black;
}

.search_group{
  display: flex;
  align-items: center;
  margin-right: auto;
}

.list_menu{
  display: flex;
  margin: 0 10px;
}

.list_menu li{
  padding: 30px;


}

li:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 50px;

}
.search{
  padding-left: 10px;
  width: 500px;
  border-radius: 30px;
  height: 40px;
}
.search_bloque{
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
}
.search_bloque img{
  position: absolute;
  right: 10px;
  width: 15px;
  height: 15px;
  
}

.search_bloque img:hover{
  cursor: pointer;
}
.list_icons {
  display: flex;
  justify-content:end;
  gap: 50px;
  padding: 30px;
}
.list_icons li img{
  width: 20px;
  height: 20px;

}

.list_icons li:hover{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.list_icons li{
  padding: 10px;
}


/*EMPEZAMOS A DAR ESTILOS AL CONTENEDOR CON LAS IMAGENES*/

.container{
  background-color: rgba(186, 186, 150, 0.561);
  display: flex;
  flex-wrap: wrap;
  min-height:100vh ;
  justify-content: center;
  gap: 40px;
  
}

.container article img{
  border-radius: 40px;
  width: 400px;
  height: 400px;
  margin-top: 40px;
  object-fit: cover;
  
}

@media screen and (max-width:1000px){
.logo{ 
  display: flex;
  width: 35px;
  height: 35px;
  margin-left: 20px;
}

.navbar{
  margin-left: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.search_group{
  margin-top: 30px;
}
.list_menu{
  display: flex;
  padding: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left:0;
  gap: 10px;

}
  .search{
    padding-left: 10px;
    width: 210px;
    border-radius: 30px;
    height: 30px;
  }

  .list_menu li{
    margin: 2px 2px; 
    padding: 9px;
    margin-left: 0px;
    font-size: 14px;
  }
.list_icons{
  gap: 1px;
}
  .list_icons li{
    margin: 2px 2px; 
    margin: 0 auto;
  }

  .list_icons li img{
    width: 18px;
    height: 18px;
    border-color: black;
    
  }

.container article img{
  display: flex;
width: 300px;
height: 300px;
object-fit: cover;
  }

}